.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  /*font-size: clamp(1.6rem, 4vw, 3rem);*/
  line-height: 1.5;
  font-family: "Body";
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.word {
  display: inline-block;
}
