.bannercont {
  position: relative;
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  z-index: 99;
  box-shadow: 0px 10px 100px rgba(2, 16, 48, 0.8);
}

.bannerimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}

.squares {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.variableproximity {
  font-size: 50px;
  color: white;
  font-weight: bold;
  max-width: 80%;
  z-index: 20;
}

/* Responsive Font Size */
@media (max-width: 1024px) {
  .variableproximity {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .bannercont {
    min-height: 150px;
  }

  .variableproximity {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .bannercont {
    min-height: 100px;
  }

  .variableproximity {
    font-size: 24px;
  }
}
